body{
    /* padding:50px 0px 0px 0px; */
    z-index:0;
    color: black;
}

.whatsapp{
    position: fixed;
    right: 25px;
    bottom: 50px;
    width: 70px;
    z-index: 1;
}

.whatsapp:hover{
    
    border: 3px solid rgb(0, 150, 37);
    border-radius: 50px;
    
}

.btn-whatsapp:hover{
    background-color: rgb(26, 223, 26);
}
.btn-mail:hover{
    background-color: rgb(255, 56, 56);
}
.btn-face:hover{
    background-color: rgb(44, 111, 255);
}

footer{
    background-color: rgb(255, 196, 0);
}